.container {
    padding: 45px;
    display: flex;
    justify-content: center;
}

.App {
    width: 450px;
    border-radius: 15px;
    margin: 15px auto;
    background: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

Logo {
    width: 90px;
}